body{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  background-color: #555;
  background-image: url("pic3.jpg");
}

.container{
  box-sizing: border-box;
  width: 50%;
  height: 45rem;
  display:flex;
  align-items: center;
  justify-content: center;
  outline: 3px solid black;
  border-radius: 5%;
  
}

.card{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  /* padding: 7px, 0; */
  background-color: #f3eded;
  /* margin: 20px, 0px; */
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 700; 
  box-shadow: 2px 2px 5px rgb(85, 84, 84);
   
}

input[type=text],[type=email],[type=date]{
   
   height: 40px;
   border-radius: 2px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
}

input[type=submit]{
  height: 40px;
  background-color:  #4CAF50;
  border: none;
  /* outline: 1px solid whitesmoke; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

input[type=reset]{
  height: 40px;
  background-color: rgb(235, 43, 43);
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
/* ::placeholder{
  text-shadow: 1px 1px 1px black;
} */



input[type=submit]:hover{
  background-color: #4CAF20;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(8, 66, 27, 0.623);
}

input[type=reset]:hover{
  background-color: rgb(167, 11, 11);
  cursor: pointer;
  box-shadow: 1px 2px 5px rgb(39, 5, 5);
}

input[type=text]:focus {
  border: 3px solid #555;
}

select{
  height: 40px;
  border-radius: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

.gender{
  flex-direction: row;
  /* background-color:whitesmoke; */
}


